.coin-pouch {
    display: flex;
    justify-content: center;

    position: relative;

    width: 100%;
    max-width: 372px;
    padding: 7px 32px;
    margin: 0 auto;
    margin-bottom: 53px;

    border: 1px solid #979797;
    background-color: #EFEFEF;

    cursor: pointer;

    &:after {
        content: "click anywhere to edit";

        position: absolute;
        bottom: -17px;

        color: #B0B0B0;
        font-family: "Avenir Next", sans-serif;
        font-size: .75em;
    }
}

.coin {
    &__bundle {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 20%;
    }
    &__amount {
        margin-bottom: 4px;

        color: black;
        font-family: "Andale Mono", "Open Sans", Arial, sans-serif;
        font-size: 1em;
    }
    &__type {
        color: #838383;
        font-family: "Avenir Next", sans-serif;
        font-size: .8125em;
    }
}