@import "elements/cb-stat";

.cb-stat-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > .cb-stat {
        flex-basis: 50%;
        max-width: 150px;
    }
}

.combat-stats {
    display: grid;
    grid-template-columns: 1fr;

    position: relative;

    max-width: 370px;
    padding: 9px 9px 150px 9px;
    margin: 0 auto;
    margin-top: 25px;

    border: 1px solid #979797;
    background-color: #F6F6F6;

    @media (max-width: 560px) {
        grid-row: 1/2;

        max-width: none;
        padding-bottom: 25px;
        margin: 0;
    }

    &:after {
        content: "Visit \"stats\" to edit base values.";
        position: absolute;
        bottom: 2px;
        left: 6px;

        color: #838383;
        font-size: .75em;
        font-family: "Lucida Grande", Arial, sans-serif;
        font-weight: 300;
    }
}