.hp-ac-initiative {
    display: flex;
    align-items: flex-end;

    margin-top: 15px;
    margin-bottom: 5px;

    color: white;

    @media (max-width: 425px) {
        margin-top: 0;

        width: 100%;
    }
}

.armor-class,
.initiative {
    display: flex;
    align-items: baseline;

    width: 100%;

    border: 1px solid #ccc;

    color: black;

    &__mononym {
        flex: 1;
        padding: 5px 10px;

        background-color: #eee;
        border-left: 1px solid #ccc;
    }

    &__value {
        flex: 0;

        padding: 5px 8px;
    }
}

.armor-class {
    margin-bottom: 5px;
}
