@import "./elements/inventory__filter";
@import "./elements/inventory__create-item";

.inventory {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 303px;
    margin: 0 auto;

    &__controls {
        display: flex;
        align-items: center;

        position: relative;
    }

    &__no-items-found {
        margin-top: 10px;

        color: #373737;
        font-size: .75em;
        text-align: center;
    }
}

.item {
    display: flex;
    align-items: center;

    height: 22px;
    width: calc(100% - 14px);
    padding: 0 7px;
    margin-top: 10px;

    border: 1px solid #979797;
    background-color: #EFEFEF;

    cursor: pointer;

    &__name {
        font-size: .75em;
        font-family: "Avenir Next", sans-serif;
    }
}