.navigation__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 33px;
    width: auto;
    padding: 0 15px;

    cursor: pointer;
    background-color: $color__wet-asphalt;
    border: 1px solid white;

    color: white;
    font-size: 1.125em;

    transition: all .25s ease;

    &:not(:first-child) {
        margin-left: 15px;
    }

    &:hover,
    &_active {
        background-color: white;

        color: $color__wet-asphalt;
    }

    @media (max-width: 767px) {
        margin-left: 0;
        margin-right: 15px;

        background-color: $color__wet-asphalt;

        color: white;

        &:hover,
        &_active {
            background-color: white;
            color: $color__wet-asphalt;
        }

        &:only-child,
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}
