.stats {
    display: flex;
    justify-content: center;

    @media (max-width: 445px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__saving-throws, &__combat, &__skills {
        > .stats-container {
            display: grid;
            grid-gap: 5px 7px;
        }
    }
    &__primary {
        margin-right: 15px;
    }
    &__saving-throws, &__combat {
        margin-bottom: 28px;

        > .stats-container {
            grid-template-columns: 202px 202px;

            @media (max-width: 705px) {
                display: flex;
                flex-direction: column;

                .stat {
                    margin-bottom: 5px;
                }
            }
        }
    }
    &__skills {
        @media (max-width: 705px) {
            margin-left: 5px;
        }

        > .stats-container {
            grid-template-columns: repeat(3, 202px);

            @media (max-width: 1120px) {
                grid-template-columns: repeat(2, 202px);
            }
            @media (max-width: 915px) {
                grid-template-columns: 202px;
            }
            @media (max-width: 705px) {
                display: flex;
                flex-direction: column;

                .stat {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.stat {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 200px;

    border: 1px solid #ccc;

    color: black;

    &__name {
        flex: 1;
        padding: 5px 10px;

        background-color: #eee;
        border-left: 1px solid #ccc;

        text-transform: capitalize;
        text-align: left;
    }
    &__modifier {
        flex: 0;
        display: flex;

        width: 100%;

        font-family: $font__inconsolata;

        @media (min-width: 426px) {
            margin-right: 9px;
            margin-left: 9px;
        }
        @media (max-width: 425px) {
            padding: 5px 8px;

            text-align: left;
        }
    }
}
