.cb-stat {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;

    font-family: "Avenir Next", sans-serif;

    &__value {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 7px 0;

        border: 1px solid #979797;
        background-color: #EBEBEB;

        text-align: center;

        > span {
            margin-right: 10px;
            margin-left:  10px;

            font-size: 1em;
            font-weight: lighter;
        }
    }
    &__label {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 2px;

        text-align: center;

        > span {
            font-size: .875em;
            font-weight: lighter;

            &.sub {
                font-size: .75em;
            }
            &.focus {
                margin-right: 10px;
                margin-left:  10px;

                font-size: 1.09375em;
                font-weight: 400;
            }
        }
    }

    @media (max-width: 560px) {
        margin: 5px;
    }

    &.hitpoints {
        max-width: 195px;
        margin: 10px auto;

        .cb-stat__value {
            > span {
                font-size: .75em;
            }
            > strong {
                font-size: 1.25em;
            }
        }
    }
    &.death-saves {
        width: 100%;
        max-width: 350px;
        margin: 10px auto;

        > .cb-stat__value {
            display: flex;
            justify-content: space-around;

            padding: 10px 0;
            margin-bottom: 10px;
        }
    }
}