.prompt__item-details {
    width: 100%;
    margin-bottom: 50px;

    font-family: "Avenir Next", sans-serif;
    font-size: .9375em;

    input, textarea {
        border: none;
        border-radius: 2px;
        box-shadow: inset 0 0 2px black;
    }
    input {
        height: 24px;

        text-indent: 5px;
    }
    textarea {
        width: calc(100% - 16px);
        min-width: calc(100% - 16px);
        max-width: calc(100% - 16px);;
        padding: 5px 8px;
        margin-bottom: 10px;
    }
}