.spell-book__column {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;

    margin: 8px;


    @media (max-width: 560px) {
        width: 100%;
        max-width: 250px;

        margin: 0 auto;
        margin-top: 40px;
    }
}