.hp-ac-initiative {
    display: flex;
    align-items: flex-end;

    margin-top: 15px;
    margin-bottom: 5px;

    color: white;

    @media (max-width: 419px) {
        margin-top: 0;
    }
}

.hitpoints {
    display: flex;
    flex-direction: column;

    position: relative;

    height: 75px;
    margin-right: 10px;
    margin-left: 78px;

    text-align: center;

    @media (max-width: 419px) {
        margin-left: 8px;
    }

    &__icon {
        height: 75px;
        width:  75px;
    }
    &__value {
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        bottom: 13px;

        color: black;
        font-size: 2em;
        font-family: $font__inconsolata;
    }
}

.armor-class,
.initiative {
    display: flex;
    align-items: baseline;

    border: 1px solid #ccc;

    color: black;

    &__mononym {
        padding: 5px 10px;

        background-color: #eee;
        border-right: 1px solid #ccc;
    }

    &__value {
        padding: 5px 8px;
    }
}

.armor-class {
    margin-bottom: 5px;
}
