.inventory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
        display: flex;

        &:not(:empty) {
            margin: 5px;
        }
    }
}

.item {
    &__name {
        margin-right: 5px;

        &_multiple {
            margin-left: 5px;
        }
    }
}