.inventory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
        &:not(:empty) {
            margin: 5px;

            text-transform: capitalize;
        }
    }
}
