.stats-and-modifiers__container {
    display: flex;
    flex-direction: column;
}

.stats-and-modifiers {
    display: flex;
}

.stats-container {
    display: flex;
    flex-direction: column;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;

    min-height: 75px;
    padding-bottom: 10px;

    background-color: $color__turquoise;

    color: white;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__name {
        align-self: stretch;

        padding: 5px;

        background-color: $color__green-sea;

        font-size: .75em;
        text-transform: uppercase;
        text-align: center;
    }
    &__value {
        margin-top: 10px;
        margin-bottom: 10px;

        font-size: 1.5em;
    }
    &__modifier {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 1em;
        width:  2em;

        background-color: $color__turquoise;

        font-size: 1em;
    }
}

.modifiers-container {
    display: flex;
    flex-direction: column;
}

.modifier {
    display: flex;
    justify-content: flex-start;

    margin-left: 20px;

    &_inspiration, &_proficiency {
        height: 1.8em;
    }

    &_inspiration {
        margin-top: -.5em;
    }

    &_inspiration, &_proficiency {
        display: flex;
        align-items: center;

        padding-right: 10px;
        margin-bottom: 20px;

        border: 1px solid black;
        border-radius: 2px;
    }

    &__value {
        &_inspiration, &_proficiency {
            min-height: 10px;
            min-width:  10px;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 7px 11px;
            margin-right: 10px;
            margin-left: -10px;

            background-color: white;
            border: 1px solid black;

            font-size: 1.2em;
        }
        &_proficiency {
            border-radius: 50%;
        }
    }
    &__name {
        font-size: .5em;

        &_inspiration, &_proficiency {
            width: 100%;

            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
