.stats-and-modifiers__container {
    display: flex;
    flex-direction: column;
}

.stats-and-modifiers {
    display: flex;
}

.stats-container {
    display: flex;
    flex-direction: column;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;

    min-height: 105px;
    padding-bottom: 15px;
    margin-bottom: 20px;

    background-color: $color__turquoise;

    color: #f1f1f1;

    &__name {
        align-self: stretch;

        padding: 10px;

        background-color: $color__green-sea;

        color: white;
        font-size: .9em;
        text-transform: uppercase;
        text-align: center;
    }
    &__value {
        margin-top: 10px;
        margin-bottom: 10px;

        font-size: 1.5em;
        font-family: $font__inconsolata;
    }
    &__modifier {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 1em;
        width:  2em;

        background-color: $color__turquoise;

        font-size: 1.25em;
        font-family: $font__inconsolata;
    }
}

.modifiers-container {
    display: flex;
    flex-direction: column;
}

.modifier-group {
    padding: 10px;
    margin-left: 20px;

    background-color: $color__green-sea;

    color: white;

    &__title {
        margin-top: 10px;

        font-size: .75em;
        text-align: center;
        text-transform: uppercase;
    }
}

.modifier {
    display: flex;
    align-items: baseline;

    background-color: $color__green-sea;

    color: white;

    &_perception, &_inspiration, &_proficiency {
        justify-content: flex-start;
        align-items: center;

        padding-right: 20px;
        margin-bottom: 20px;

        border-radius: 25px;
    }
    &_inspiration, &_proficiency {
        margin-left: 20px;
    }

    &__state {
        transition: all .25s ease;

        height: 10px;
        width:  10px;
        margin-right: 10px;

        border: 1px solid white;
        border-radius: 50%;

        &_active {
            background-color: white;
        }
    }

    &__value {
        margin-right: 10px;

        font-family: $font__inconsolata;
        text-align: right;

        &_perception, &_inspiration, &_proficiency {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 15px;
            width:  15px;
            margin-right: 5px;
            padding: 10px;

            background-color: $color__turquoise;
            border: 5px solid $color__green-sea;
            border-radius: 50%;

            font-size: 1.2em;
            text-align: center;
        }
        &_perception {
            margin-left: 0;
        }
    }
    &__name {
        font-size: .75em;
        text-transform: capitalize;

        &_inspiration, &_proficiency {
            width: 100%;

            text-transform: uppercase;
        }
    }
}
