@keyframes spread-out {
    from {
        width: 48px;
    }
    to {
        width: 160px;
    }
}

@keyframes grow-down_stat {
    from {
        height: 36px;
    }
    to {
        height: 125px;
    }
}

@keyframes slide-down_modifier-set {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes blip-in {
    from {
        height: 0;
        width:  0;
    }
    to {
        height: 100vh;
        width:  100vh;
    }
}

@keyframes blip-out {
    from {
        height: 100vh;
        width:  100vh;
    }
    to {
        height: 0;
        width:  0;
    }
}