.button {
    transition: all .25s ease;
    padding: 10px 20px;

    cursor: pointer;
    border: 1px solid $color__wet-asphalt;
    border-radius: 5px;

    color: $color__wet-asphalt;

    &:hover {
        background-color: $color__wet-asphalt;

        color: white;
    }

    &_create-item {
        background-color: $color__turquoise;
        border-color: $color__turquoise;

        color: white;

        &:hover {
            background-color: transparent;

            color: $color__turquoise;
        }
    }
}