.field-group {
    display: flex;
    align-items: baseline;

    position: relative;

    &_align-right {
        justify-content: flex-end;
    }
    &_direction_vertical {
        flex-direction: column;
        align-items: flex-start;
    }
    &_direction_vertical-center {
        flex-direction: column;
        align-items: center;
    }
}
