.modifiers-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 250px;
    margin-left: 20px;

    @media (max-width: 425px) {
        margin-left: 0;

        max-width: none;
    }
}

.modifier-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    margin-top: 35px;

    //overflow: hidden;

    color: white;

    @media (max-width: 425px) {
        margin-top: 0;
    }

    &__title {
        z-index: 2;
        padding: 8px;

        border-bottom: 1px solid black;

        color: black;
        font-size: .9em;
        text-align: center;
        text-transform: uppercase;
    }
}

.modifier {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    width: 100%;
    margin-bottom: 5px;

    border: 1px solid #ccc;

    color: black;

    &_special {
        border-color: black;
    }
    &__name {
        flex: 1;
        padding: 5px 7px;

        background-color: #eee;
        border-right: 1px solid #ccc;

        text-transform: capitalize;
        text-align: right;
    }
    &__value {
        margin-right: 9px;
        margin-left:  9px;

        font-family: $font__inconsolata;
        text-align: center;

        &_perception, &_inspiration, &_proficiency {
            display: flex;
            align-items: center;

            @media (min-width: 426px) {
                justify-content: center;
            }
        }
        @media (max-width: 425px) {
            flex: 0;

            min-width: 54px;

            text-align: left;
        }
    }
}