.modifiers-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    max-width: 250px;
    margin-left: 40px;
}

.modifier-group {
    margin-top: 20px;

    overflow: hidden;

    color: white;

    &__title {
        z-index: 2;
        padding: 8px;

        border-bottom: 1px solid black;

        color: black;
        font-size: .9em;
        text-align: center;
        text-transform: uppercase;
    }
}

.modifier {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    position: relative;

    color: black;

    &_perception, &_inspiration, &_proficiency {
        margin-bottom: 5px;
    }

    &__state {
        transition: all .25s ease;

        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0;

        height: 10px;
        width:  10px;

        border: 1px solid black;
        border-radius: 50%;

        &_active {
            background-color: black;
        }
        &_special {
            border: none;

            .fa {
                transform: translateY(-50%) translateX(-50%);
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
    }

    &__value {
        min-width: 10px;
        margin-right: 8px;
        margin-left:  20px;

        border-bottom: 1px solid;

        font-family: $font__inconsolata;
        text-align: right;

        &_perception, &_inspiration, &_proficiency {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-right: 8px;

            text-align: center;
        }
    }
    &__name {
        font-size: .75em;
        text-transform: capitalize;
    }
}