.modifiers-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 250px;
    margin-left: 20px;

    @media (max-width: 419px) {
        margin-left: 5px;
    }
}

.modifier-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 35px;

    overflow: hidden;

    color: white;

    @media (max-width: 419px) {
        margin-top: 0;
    }

    &__title {
        z-index: 2;
        padding: 8px;

        border-bottom: 1px solid black;

        color: black;
        font-size: .9em;
        text-align: center;
        text-transform: uppercase;
    }
}

.modifier {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    margin-bottom: 5px;

    overflow: hidden;
    border: 1px solid #ccc;

    color: black;

    &__state {
        transition: all .25s ease;

        transform: translateY(-50%);
        position: absolute;
        top: 15px;
        left: 0;

        height: 30px;
        width: 5px;

        background-color: #eee;

        &_active,
        &_special {
            background-color: #ccc;
        }
    }
    &__name {
        padding: 5px 7px;

        background-color: #eee;
        border-right: 1px solid #ccc;

        text-transform: capitalize;
        text-align: center;
    }
    &__value {
        margin-right: 8px;
        margin-left:  8px;

        font-family: $font__inconsolata;
        text-align: right;

        &_perception, &_inspiration, &_proficiency {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-right: 8px;

            text-align: center;
        }
    }
}