.navigation__menu-item {
    transition: all .25s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: auto;
    padding: 0 15px;

    cursor: pointer;
    background-color: white;
    border: 1px solid white;

    color: $color__wet-asphalt;

    &:not(:first-child) {
        margin-left: 15px;
    }

    &:hover {
        background-color: $color__wet-asphalt;

        color: white;
    }
}
