@import "navigation__menu-item";

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: inherit;
    padding: 0;
    margin: 0;

    list-style: none;
}