.stats-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    max-width: 624px;

    @media (max-width: 419px) {
        align-items: flex-start;
    }
}

.stat {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    margin-bottom: 5px;

    border: 1px solid #ccc;

    color: black;

    @media (max-width: 419px) {
        flex-direction: row-reverse;

        width: 100%;
    }

    &__name {
        flex: 1;
        padding: 5px 10px;
        margin-left: 9px;

        background-color: #eee;
        border-left: 1px solid #ccc;

        text-transform: capitalize;

        @media (max-width: 419px) {
            margin-left: 0;

            border-left: none;
            border-right: 1px solid #ccc;

            text-align: right;
        }
    }
    &__value, &__modifier {
        font-family: $font__inconsolata;
    }
    &__value {
        margin-left: 9px;

        @media (max-width: 419px) {
            margin-left: 0;
        }
    }
    &__modifier {
        margin-left: 9px;
    }
    &__value-and-modifier {
        flex: 0;
        display: flex;

        width: 100%;

        @media (max-width: 419px) {
            min-width: 54px;
            padding: 5px 8px;

            text-align: left;
        }
    }
}
