.stats-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    max-width: 624px;

    @media (max-width: 425px) {
        align-items: flex-start;
    }
}

.stat {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    width: 100%;
    margin-bottom: 5px;

    border: 1px solid #ccc;

    color: black;

    &__name {
        flex: 1;
        padding: 5px 10px;

        background-color: #eee;
        border-left: 1px solid #ccc;

        text-transform: capitalize;
        text-align: left;
    }
    &__modifier {
        flex: 0;
        display: flex;

        width: 100%;

        font-family: $font__inconsolata;

        @media (min-width: 426px) {
            margin-right: 9px;
            margin-left: 9px;
        }
        @media (max-width: 425px) {
            padding: 5px 8px;

            text-align: left;
        }
    }
}
