@mixin mixin__input-placeholder {
    &::-webkit-input-placeholder { @content }
         &:-ms-input-placeholder { @content }
             &::-moz-placeholder { @content }
              &:-moz-placeholder { @content }
}

@mixin mx__input-number-no-html5-buttons {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
    }
}